body {background-color: black;
      color: white;
      font-family: arial;}
a {
        background-color: #cccccc;
}

h1 {font-family:'Times New Roman', Times, serif;
    color: #CCCCCC;}
#News {color: red}
       