<style>

body { <background-color:#ffffbb>;
    <color:#00ff00>;
    font-family: "Arial";
    font-size: 1.25em;
    background-repeat: no-repeat
    Margin-left: auto;
    Margin-right: auto;
    width:80%; 
  }
</style>
